@font-face {
    font-family: fuenteStarWars;
    src: url("../recursos/fuentes/STARWARS.ttf");
}

* {
    font-family: fuenteStarWars;
}

body {
    background-image: url("../recursos/img/bg.png");
}

.titulo {
    font-size: xxx-large;
    text-align: center;
    color: #e3ab42;
}

hr {
    width: 70%;
}

h3 {
    margin: 25px 0;
    font-size: x-large;
    justify-content: center;
}
img {
    margin: 10px 30px 30px;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 gray;
}

.cartas {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 10%;
    justify-content: center;
    color: #e3ab42;
    text-shadow: 2px 2px #c0881f;
}

.carta {
    background-image: url("../recursos/img/card_bg.jpg");
    border-radius: 10px;
    box-shadow: 0 0 30px #e4c33e;
}

.datos {
    display: flex;
    flex-direction: column;
    color: #e3ab42;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}

.fila-uno {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.fila-dos {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}





/* Rotación de las cartas */
/* El z-index hace que unas estén debajo de otras (0 la más baja, 2 la más alta.
   El transform simplemente las rota a distintos grados y las pone unas más lejos de otras, menos la de en medio.
*/
a:first-child {
    z-index: 0;
    transform: rotate(-45deg) translateX(100px) translateY(200px);
}
a:nth-child(2) {
    z-index: 1;
    transform: rotate(-20deg) translateX(75px) translateY(25px);
}
a:nth-child(3) {
    z-index: 2;
    transform: rotate(0) translateX(0) translateY(-50px);
}
a:nth-child(4) {
    z-index: 1;
    transform: rotate(20deg) translateX(-75px) translateY(25px);
}
a:nth-child(5) {
    z-index: 0;
    transform: rotate(45deg) translateX(-100px) translateY(200px);
}

/* Animación de las cartas al hacer hover */
/* El z-index hace que la carta a la que se hace hover pase al frente */
a:first-child:hover {
    z-index: 10;
    transform: rotate(-15deg) translateX(150px) translateY(30px);
}
a:nth-child(2):hover {
    z-index: 10;
    transform: rotate(-10deg) translateX(100px) translateY(-40px);
}
a:nth-child(3):hover {
    z-index: 10;
    transform: rotate(0) translateX(0) translateY(-80px);
}
a:nth-child(4):hover {
    z-index: 10;
    transform: rotate(10deg) translateX(-100px) translateY(-40px);
}
a:nth-child(5):hover {
    z-index: 10;
    transform: rotate(15deg) translateX(-150px) translateY(30px);
}

